*.4ct
*.4tc
*.aux
*.dvi
*.go
*.idv
*.lg
*.log
*.o
*.out
*.tmp
*.toc
*.xml
*.xref
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
doc/sparqling-genomics*.html
doc/sparqling-genomics.css
env
sparqling-genomics-*.tar.gz
tools/table2rdf/table2rdf
tools/vcf2rdf/vcf2rdf
web/ldap/authenticate.scm
web/www/config.scm
pre-inst-env