*.4ct
*.4tc
*.aux
*.dvi
*.go
*.idv
*.la
*.lg
*.log
*.lo
*.o
*.out
*.tmp
*.toc
*.xml
*.xref
.libs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
doc/sparqling-genomics*.html
doc/sparqling-genomics.bbl
doc/sparqling-genomics.blg
doc/sparqling-genomics.css
doc/sparqling-genomics.sty
env
sparqling-genomics-*.tar.gz
tools/bam2rdf/bam2rdf
tools/ega2rdf/ega2rdf
tools/folder2rdf/folder2rdf
tools/json2rdf/json2rdf
tools/sgfs/src/sgfs.c
tools/table2rdf/table2rdf
tools/vcf2rdf/vcf2rdf
tools/virtuoso-config/virtuoso-config
tools/xml2rdf/xml2rdf
web/extensions/pdf_report/include/pdf_report.h
web/extensions/r_report/include/r_report.h
web/ldap/authenticate.scm
web/sg-auth-manager
web/sg-auth-manager.c
web/sg-web
web/sg-web.c
web/sg-web-test
web/sg-web-test.c
web/sg-web.service
web/sg-auth-manager.service
web/www/config.scm
web/www/hashing.scm
web/www/reports.scm
pre-inst-env